::selection { 
  color: rgb(0, 140, 196); 
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

.preloader {
    &:before {
      position: absolute;
      
      content: '';
      left: 0;
      width: 50%;
      height: 100%;
      
      background: rgb(0, 0, 0);
    }
  
    &:after {
      position: absolute;
      
      content: '';
      right: 0;
      width: 50%;
      height: 100%;
      
      background: rgb(0, 0, 0);
    }
  
    &.finished:before {
      @keyframes preloader-finished-before-anim {
        to {
          left: -50%;
          opacity: 0;
        }
      }
      animation: preloader-finished-before-anim 1s forwards .5s;
    }
    
    &.finished:after {
      @keyframes preloader-finished-after-anim {
        to {
          right: -50%;
          opacity: 0;
        }
      }
      animation: preloader-finished-after-anim 1s forwards .5s;
    }
  
    position: fixed;
    pointer-events: none;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    animation: none;
    z-index: 1000;
  }

/************************ Main Containers ************************/

#main, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto;
}

.AppHeader {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  
  top: 0;
  height: 100px;
  width: 100%;
  
  background: rgba(41, 41, 41, 0.7);
  z-index: 10;
}

.AppContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  //background: #00416A;  /* fallback for old browsers */
  //background: linear-gradient(to bottom, #E4E5E6, #00416A);

  z-index: 2;
}

.AppControls {
  position: absolute;
  display: inline-flex;
  flex-direction: column;

  bottom: 0;
  height: 150px;
  width: 100%;

  align-items: center;
  justify-content: center;

  z-index: 10;
  background: rgba(41, 41, 41, 0.7);

  #SliderTimeContainer {
    display: grid;
    grid-template-columns: auto 50vw auto;
    column-gap: 10px;
    padding: 10px;
  }

  #ButtonContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  button {
    align-self: center;
    margin: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(61, 61, 61, 0.9);
    transition: all 0.3s ease;
  }

  button:hover {
    background: rgb(110, 110, 110);
    width: 55px;
    height: 55px;
  }

  button:active {
    background: rgb(161, 161, 161);
    width: 60px;
    height: 60px;
  }
}

#TrackList {
  position: absolute;
  display: inline;
  overflow-y: scroll;

  color: white;
  
  right: -100%;
  top: 100px;
  height: calc(100% - 250px);

  transition: width .3s ease-in-out;
  
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;

  @media screen and (max-width: 800px){
    width: 100%;
  }

  @media screen and (min-width: 801px){
    width: 100%;
  }

  button {
    margin: 10px;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: rgba(80, 80, 80, 0.6);
    transition: all 0.2s ease;
  }

  button:hover {
    background: rgb(110, 110, 110);
  }

  button:active {
    background: rgb(161, 161, 161);
    width: 95%;
  }

  &.TracklistOpen {
    @keyframes tracklist-open-animation {
      from {
        right: -100%;
        opacity: 0.0;
      }
      to {
        right: 0px;
        opacity: 1.0;
      }
    }
    animation: tracklist-open-animation .5s forwards;
  }

  &.TracklistClosed {
    @keyframes tracklist-close-animation {
      from {
        right: 0px;
        opacity: 1.0;
      }
      to {
        right: -100%;
        opacity: 0.0;
      }
    }
    animation: tracklist-close-animation .5s forwards;
  }
}

#FileInput {
  width: 0px;
  height: 0px;
}

#SliderTimeContainer {
  display: flex;
  flex-direction: row;
}
